$iconify-bg-color: #5551;

.app-iconify {
  display: inline-block;
  // vertical-align: middle;
}

.app-iconify-spin {
  svg {
    animation: loadingCircle 1s infinite linear;
  }
}

span.iconify {
  display: block;
  min-width: 1em;
  min-height: 1em;
  background-color: $iconify-bg-color;
  border-radius: 100%;
}
